registry=https://registry.npmmirror.com

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

binary_host_mirror=https://npmmirror.com/mirrors/

disturl=https://npmmirror.com/dist
